In [17]:
import pandas as pd
import os

## Question

1. What was the best month for sales? How much was earned that month?
2. What city sold the most product?
3. What time should we display advertisemens to maximize the likelihood of customer’s buying product?
4. What product sold the most?

# 1. Merge all the data

In [18]:
# files = [file for file in os.listdir('./Dataset')]

# all_data = pd.DataFrame()

# for csv_file in files:
#     data = pd.read_csv('./Dataset/'+csv_file)
#     all_data = pd.concat([all_data,data])
    
   
# all_data.to_csv("all_data.csv",index=False)

In [19]:
uncleaned = pd.read_csv('all_data.csv')
uncleaned.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

### Inspect the data

In [20]:
uncleaned.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [21]:
uncleaned.shape

(186850, 6)

In [22]:
uncleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

# 2. Clean the data

### Drop all rows that contains null values

In [23]:
uncleaned.isnull().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [24]:
uncleaned[uncleaned['Order ID'].isnull()]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1,NaN,NaN,NaN,NaN,NaN,NaN
356,NaN,NaN,NaN,NaN,NaN,NaN
735,NaN,NaN,NaN,NaN,NaN,NaN
1433,NaN,NaN,NaN,NaN,NaN,NaN
1553,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
185176,NaN,NaN,NaN,NaN,NaN,NaN
185438,NaN,NaN,NaN,NaN,NaN,NaN
186042,NaN,NaN,NaN,NaN,NaN,NaN
186548,NaN,NaN,NaN,NaN,NaN,NaN
186826,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
uncleaned = uncleaned.dropna()

In [26]:
uncleaned.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

### Drop all header that is identified as a data

In [27]:
uncleaned[uncleaned.Product == "Product"]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2878,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2893,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
...,...,...,...,...,...,...
185164,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
185551,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186563,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186632,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186738,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

In [28]:
uncleaned = uncleaned.drop(uncleaned[uncleaned['Product'] == 'Product'].index)

In [29]:
uncleaned[uncleaned.Product == "Product"]

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address]
Index: []

# 3. Add columns to assist analysis

### Total purchase colums = Obtained from Quantity Ordered column * Price Each column

In [30]:
uncleaned['Quantity Ordered'] = uncleaned['Quantity Ordered'].astype('int')
uncleaned['Price Each'] = uncleaned['Price Each'].astype('float')

In [31]:
print("Quantity Ordered data type =",uncleaned['Quantity Ordered'] .dtypes)

Quantity Ordered data type = int32

In [32]:
print("Price Each data type =",uncleaned['Price Each'].dtypes)

Price Each data type = float64

In [33]:
uncleaned['Total Purchase'] = uncleaned['Quantity Ordered'] * uncleaned['Price Each']

In [34]:
uncleaned.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Total Purchase
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",11.99

### Month columns = Obtained from month of Order Date columns

In [35]:
uncleaned['Order Date'] = pd.to_datetime(uncleaned['Order Date'])

In [36]:
print("Order Date data type =",uncleaned['Order Date'].dtypes)

Order Date data type = datetime64[ns]

In [37]:
uncleaned['Month'] = uncleaned['Order Date'].dt.month

In [38]:
month_dict = {
    1 : "January",
    2 : "February",
    3 : "March",
    4 : "April",
    5 : "May",
    6 : "June",
    7 : "July",
    8 : "August",
    9 : "September",
    10 : "October",
    11 : "November",
    12 : "December"
}
uncleaned = uncleaned.replace({"Month":month_dict})

In [39]:
uncleaned.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Total Purchase,Month
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",23.90,April
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",99.99,April
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",600.00,April
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",11.99,April
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",11.99,April

### City columns = Obtained from Purchase Address columns

In [40]:
def get_city(df):
    df = df.split(',')
    return df[1].strip()

In [41]:
uncleaned['City'] = uncleaned['Purchase Address'].apply(lambda x : get_city(x))

In [42]:
uncleaned.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Total Purchase,Month,City
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",23.90,April,Dallas
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",99.99,April,Boston
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",600.00,April,Los Angeles
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",11.99,April,Los Angeles
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",11.99,April,Los Angeles

### Cleaned data

In [43]:
cleaned = uncleaned.copy()
cleaned.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Total Purchase,Month,City
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",23.90,April,Dallas
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",99.99,April,Boston
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",600.00,April,Los Angeles
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",11.99,April,Los Angeles
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",11.99,April,Los Angeles

In [44]:
cleaned.to_csv("sales_data.csv",index=False)